@media screen and (max-width: 992px) {
    .history__main {
        width: 100%;
    }

    .history__bottom {
        padding-top: 600px;


    }

    .history__imgs {
        margin-top: 100px;
    }

    .history__image:nth-child(1) {
        z-index: 4;
        top: 0px;
        right: -217px;
    }

    .history__image:nth-child(2) {
        z-index: 4;
        top: 230px;
        left: 200px;
    }

    .history__image:nth-child(3) {
        left: 105px;
        top: 0px;
    }
}

@media screen and (max-width: 820px) {
    .header__menu {
        display: none;
    }

    .nav__mobile-btn {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
    }

    .header__logo img {
        width: 50px;
    }

    .header__top {
        padding-top: 20px;

    }

}

@media screen and (max-width: 530px) {

    .history__top {
        position: relative;
    }

    .history__bottom {
        padding-top: 400px;

    }

    .header__title:nth-child(1) {
        font-size: 30px;
        line-height: 34px;
    }

    .header__title:nth-child(2) {
        font-size: 40px;
        line-height: 46px;
    }

    .header__text {
        font-size: 15px;
        line-height: 20px;
    }

    .header__text:after, .header__text:before {
        display: none;
    }
}