* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    margin: 20px;
    border: 5px solid black;
    width: 1000px;
    height: 1250px;


}

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    padding: 0 38px;
    border-bottom: 5px solid black;
}

.mini {
    width: 120px;
    height: 35px;
    background-color: rgba(143, 141, 141, 0.35);
}

.section {
    display: flex;
    width: 100%;
}

.block2 {
    padding-top: 20px;
    border-right: 5px solid black;
    height: 1142px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}

.blocks {
    width: 80%;
}

.block3 {
    padding: 30px;
    height: 300px;
    border-bottom: 5px solid black;
}

.el {

    height: 100%;
    background-color: rgba(143, 141, 141, 0.35);
}

.block4 {
    height: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid black;
}

.col1 {
    width: 18%;
    height: 70%;
    background-color: rgba(143, 141, 141, 0.35);
}

.wrapper{
    display: flex;
    border-bottom: 5px solid black;
}
.block5 {
    padding-top: 20px;
    padding-bottom:20px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    width: 80%;

    border-right: 5px solid black;
}

.col2 {
    width: 45%;
    height: 70px;
    background-color: rgba(143, 141, 141, 0.35);
}
.col-min{
    width: 100px;
    height: 25px;
    background-color: rgba(143, 141, 141, 0.35);
}
.block6{
    padding-top: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
}
.col3{
    width: 90%;
    height: 50px;
    background-color: rgba(143, 141, 141, 0.35);
}
.block7{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 10px;
}
.wide{
    width: 90%;
    height: 20px;
    background-color: rgba(143, 141, 141, 0.35);

}
.narrow{
    width: 20%;
    height: 20px;
    background-color: rgba(143, 141, 141, 0.35);
}