@media screen and  (min-width: 320px) and (max-width: 414px){
    .navbar-nav .nav-link {
        background: #0F2438;
        text-align: center;}
    .navbar-nav .dropdown:nth-child(2){
        margin: 0;
    }
    .navbar-toggler:focus{
        box-shadow:none;
    }
}