html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background: url("../img/bg.png") no-repeat center/cover;
    height: 100vh;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
}

.header__logo img {

    width: 100px;
}

.header__menu, .header__btn {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    font-family: Open Sans;
}

.header__menu {
    display: flex;
}

.menu__btns {
    display: flex;
    justify-content: space-between;
    column-gap: 23px;
    height: 51px;
    align-items: center;
    border-right: 1px solid #FFFFFF;
}


.menu__btns div:nth-child(5) {
    width: 15px;
    height: 15px;
    margin-right: 21px;
}

.menu__contact {
    margin-left: 32px;
    max-width: 154px;
    margin-right: 45px;
}

.menu__nmb {
    display: flex;
    height: 20px;
    align-items: center;
    font-size: 18px;
    line-height: 25px;

}

.menu__nmb img {
    width: 15px;
    height: 15px;
    margin-top: 3px;
    margin-right: 8px;
}

.menu__contact p {
    font-size: 14px;
    line-height: 19px;
    margin-top: 1px;
}

.header__btn {

    width: 157px;
    height: 47px;
    background-color: #FF7400;
    border: none;
}

.nav__mobile-btn {
    display: none;

}

.nav__mobile-btn div {
    width: 32px;
    height: 4px;
    border-radius: 50px;
    background-color: #FF7400;;
}

.header__bottom {
    padding-top: 203px;


}

.header__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    align-items: center;
}

.header__title {
    font-family: Tinos;
    font-size: 50px;
    line-height: 57px;
    color: #D67E35;
}

.header__title:nth-child(2) {
    font-size: 80px;
    line-height: 92px;
}

.header__text {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__text::after, .header__text::before {
    display: block;
    content: '';
    width: 61px;
    height: 2px;
    background-color: #C4C4C4;;
}

.header__text::after {
    margin-left: 10px;
}

.header__text::before {
    margin-right: 10px;
}

.header__wrap .header__btn {
    margin-top: 21px;
}

/*History*/

.history {

    height: 1000px;
}

.history__inner {
    position: relative;
}

.history__top {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: -170px;
    height: 328px;
    column-gap: 35px;
}

.history__block {
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    width: 349px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 35px 40px 5px;

}

.history__block-text {
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;

}

.history__block-text span {
    color: #BC9060;
}

.history__block-text:nth-child(2) {
    margin-top: 4px;
    margin-bottom: 20px;
    color: #2C2C2C;
}

.history__block-text:nth-child(3) {
    color: #656363;
}

.history__bottom{
    padding-top: 372px;

    display: flex;
    justify-content: space-between;

}

.history__main{
    width: 444px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.history__tittle{
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
    margin-bottom: 21px;
}
.history__tittle span{
    color: #BC9060;
    padding-left: 8px;
}
.history__main p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #656363;
    margin-bottom: 39px;

}
.history__stats{
    display: flex;
    width: 300px;
    justify-content: space-between;
    }
.stat span{
    width: 84px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #BC9060;
}
.stat  {
    margin-top: 2px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.history__imgs{
    position: relative;
}
.history__image{
    position: absolute;
}
.history__image:nth-child(1) {
    z-index: 4;
    top: 0px;
    right: 0px;
}
.history__image:nth-child(2) {
    z-index: 4;
    top: 230px;
    left: 2px;
}
.history__image:nth-child(3) {
    left: -127px;
    top: 0px;
}



