*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    margin: 15px;
    width: 800px;
    height: 400px;
    display: flex;
    border: 4px solid #756f6f;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    row-gap: 10px;
}



.box {
    background-color: #8f8d8d;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;



}

.a{
    width: 100%;
    height: 30%;

}
.b,.c{
    height: 65%;
}
.b {
    width: 65%;
}

.c {
    width: 33%;
}