* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    margin: 15px;
    width: 800px;
    height: 400px;
    display: flex;
    border: 4px solid #756f6f;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    row-gap: 10px;
}


.container > div {
    background-color: #8f8d8d;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.container__text:nth-child(1){
    width: 100%;
    height: 30%;

}

.container__text:nth-child(2), .container__text3:nth-child(3) {
    height: 65%;
}

.container__text:nth-child(2) {
    width: 65%;
}

.container__text:nth-child(3) {
    width: 33%;
}