* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    margin: 15px;
    width: 800px;
    height: 400px;
    border: 4px solid #756f6f;
    border-radius: 10px;
    padding: 10px;

}

.a {
    width: 100%;
    height: 30%;
    margin-bottom: 10px;
}

.block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 68%;
}


.box__max {
    width: 74%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}


.text {
    width: 32%;
}

.h {
    width: 25%;
}


.box {
    background-color: #8f8d8d;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}






